@use './theme';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  @include theme.set-vars(theme.$shared-palette);

  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Apply themes
body.theme-light {
  @include theme.set-vars(theme.$palette-light);
}

body.theme-dark {
  @include theme.set-vars(theme.$palette-dark);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  cursor: var(--cursor-default);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

button {
  color: inherit;
  text-decoration: none;
  vertical-align: middle;
  font-family: inherit;

  border: 0;
  border-radius: 0;

  outline: 0;

  margin: 0;
  padding: 0;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  position: relative;

  user-select: none;
  appearance: none;

  background-color: transparent;

  -webkit-tap-highlight-color: transparent;
  cursor: var(--cursor-default);
}
