.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(1.55rem, auto);
  gap: 0.75rem;
}

.toggle {
  --size: 1.7rem;

  height: var(--size) !important;
  width: var(--size);

  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: 50%;

  background-color: var(--text-primary-10);

  transition: box-shadow 100ms ease;

  cursor: pointer;

  svg {
    pointer-events: none;
  }

  &:focus-visible {
    box-shadow: 0 0 0 0.25rem var(--text-subtle);
  }

  &.filled {
    background-color: var(--accent-primary);
  }
}
