.container {
  --border-size: 0;

  display: grid;
  grid-auto-rows: 1fr;
  gap: 0.25rem;

  position: relative;

  padding: 0.5rem;

  border-radius: 0.75rem;
  box-shadow:
    var(--shadow-black) 0px 1px 4px -1px,
    inset 0 0 0 var(--border-size) var(--text-subtle),
    0 0 0 var(--border-size) var(--border-subtle);

  background-color: var(--surface-overlay);

  grid-column: var(--column-start) / span var(--column-span);
  grid-row: var(--row-start) / span var(--row-span);

  :global(body.dark) & {
    --border-size: 0.4px;
  }
}
