.container {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-bottom: 0.7rem;

  position: absolute;
  bottom: 0;

  height: 5.2rem;
  width: 100%;

  // Keep dock above all windows
  z-index: 1000;
}

.dockElement {
  background-color: var(--surface-backdrop);

  box-shadow:
    inset 0 0 0 0.2px var(--dock-shadow-light),
    0 0 0 0.2px var(--dock-shadow-dark),
    var(--shadow-black) 2px 5px 19px 7px;

  position: relative;

  padding: 0.3rem;

  border-radius: 1.2rem;

  height: 100%;

  display: flex;
  align-items: flex-end;

  transition: transform 0.3s ease;

  &:not(.hidden) {
    pointer-events: auto;
  }

  &.hidden {
    transform: translate3d(0, 200%, 0);

    &::before {
      width: calc(100% - 2px);
      height: calc(100% - 2px);

      margin-top: 1px;
      margin-left: 1px;
    }
  }

  &::before {
    content: '';

    border-radius: 20px;

    width: 100%;
    height: 100%;

    border: inherit;

    backdrop-filter: blur(10px);

    position: absolute;
    top: 0;
    left: 0;

    z-index: -1;
  }
}

.divider {
  height: 100%;
  width: 0.2px;

  background-color: var(--text-subtle);

  margin: 0 4px;
}
