.dockItemButton {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;

  border-radius: 0.5 rem;

  & > span {
    display: flex;
    place-items: center;
  }

  .tooltip {
    --double-border: 0 0 0 0 white;

    white-space: nowrap;

    position: absolute;
    top: -35%;

    background-color: var(--surface-overlay);
    backdrop-filter: blur(5px);

    padding: 0.5rem 0.75rem;
    border-radius: 0.375rem;

    box-shadow:
      var(--shadow-black) 0px 1px 5px 2px,
      var(--double-border);

    color: var(--text-primary);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 0.9rem;
    letter-spacing: 0.4px;

    display: none;

    :global(body.dark) & {
      --double-border: inset 0 0 0 0.9px var(--text-subtle), 0 0 0 1.2px var(--border-subtle);
    }
  }

  &:hover,
  &:focus-visible {
    .tooltip {
      display: block;
    }
  }
}

.dot {
  height: 4px;
  width: 4px;

  margin: 0px;

  border-radius: 50%;

  background-color: var(--text-primary);

  opacity: var(--opacity);
}
