.splashScreen {
  position: fixed;
  top: 0;
  bottom: 0;

  height: 100vh;
  width: 100vw;

  cursor: none;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: black;
  z-index: 50;
}

.progressBar {
  width: 16rem;
  height: 0.25rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 9999px;
  overflow: hidden;
  margin-top: 2rem;
}

.progressIndicator {
  height: 100%;
  background: white;
  border-radius: 9999px;
}
