.container {
  background-color: #202327;
  padding: 1px;
  width: 100%;
  height: 100%;
  min-height: 0;

  border-radius: inherit;

  display: flex;
  flex-direction: column;

  & > iframe {
    width: 100%;
    flex: 1;
    min-height: 0;
    border: none;

    border-radius: 0 0 0.75rem 0.75rem;
  }
}

:global(.tl-container.vscode) {
  top: 0.6rem;
  left: 0.6rem;
}
