.container {
  width: 100%;
  height: 100%;
  min-height: 0;

  display: flex;
  flex-direction: column;

  position: relative;

  background-color: var(--surface-primary);
  border-radius: 0.75rem;
  box-shadow: 0 33px 81px rgba(0, 0, 0, 0.31);

  cursor: var(--cursor-default), auto;

  :global(body.dark) & {
    box-shadow:
      inset 0 0 0 0.9px var(--text-subtle),
      0 0 0 1px var(--surface-overlay);
  }
}

.titleBar {
  height: var(--menu-bar-height);
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 0.75rem;
  flex-shrink: 0;

  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

.titleText {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.8125rem;
  font-weight: 500;
  color: var(--text-primary);
  user-select: none;
  pointer-events: none;
}

.trafficLightsContainer {
  display: flex;
  align-items: center;
  pointer-events: auto;

  // Necessary, as `.container` tries to apply shadow on it
  box-shadow: none !important;

  button {
    pointer-events: auto;
  }
}
