.container {
  display: block;

  position: fixed;

  // 1.4 rem is the heigh of the header
  top: 1.4rem;
  height: 100vh;

  width: 200vw;
  left: -50vw;

  justify-self: center;

  // Ensure windows can be dragged behind dock
  z-index: 1;
}
